{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-lg-10 mx-lg-auto">

      <h1 class="pt-5 pb-2">Application Threads - Firing</h1>

		<p class="lead alert alert-danger">Are you sure you want to delete this thread?</p>

		<!-- links -->
		<p class="ml-4">No. <a href="{{ url_for('menu') }}">Return to the menu.</a></p>

		<p class="ml-4">No. <a href="{{ url_for( 'select_firing_thread' ) }}">Return to the selection page.</a></p>

		<form method="POST" id="form2" action="{{ url_for('delete_threads_result', table='firingThreads', id=thread[0] ) }}">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Status</th>
					<th>PrometheusAlertRule</th>
					<th>PrometheusAlertId</th>
					<th>PrometheusAlertName</th>
					<th>PrometheusAlertSeverity</th>
					<th>PrometheusAlertImportance</th>
				</tr>
				<tr>
					<td>{{ thread[0] }}</td>
					<td>{{ thread[1] }}</td>
					<td>{{ thread[2] }}</td>
					<td>{{ thread[3] }}</td>
					<td>{{ thread[4] }}</td>
					<td>{{ thread[6] }}</td>
					<td>{{ thread[7] }}</td>
				</tr>
			</table>
			<div class="form-group">
				<input class="btn btn-success" type="submit" value="Submit Choice">
			</div>
		</form>
	</div>
  </div>
</div>


{% endblock %}